# REQUIRED for production / Vercel
DATABASE_URL=postgresql://postgres.[PROJECT_REF]:[YOUR_PASSWORD]@aws-1-ap-south-1.pooler.supabase.com:6543/postgres

JWT_SECRET=your-secret-key-here
RAZORPAY_KEY_ID=rzp_test_xxxxxxxx
RAZORPAY_KEY_SECRET=your_razorpay_secret
