# REQUIRED for production / Vercel
DATABASE_URL=postgresql://postgres.hdoejjtkbxyjloezpqhn:fkfnffjrhfjrhgj@aws-1-ap-south-1.pooler.supabase.com:6543/postgres

JWT_SECRET=ghjgjhgjkhbnmbgghcghc
RAZORPAY_KEY_ID=rzp_test_Stq9Dd98tG9xIW
RAZORPAY_KEY_SECRET=7dXG11WK6GpRn64EfSNHbY34
